.choice-container {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(230, 162, 246);
  background-color: #ffffff98;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(230, 162, 246);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: rgb(238, 208, 245);
  color: #ffffff;
}

.choice-text {
  padding: 1.5rem;
}

.correct {
  background-color: rgb(131, 212, 131);
}

.incorrect {
  background-color: rgb(225, 87, 87);
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 12rem;
  height: 4rem;
  border: solid rgb(230, 162, 246);
  margin-top: 1rem;
}

#progressBarFull {
  height: 3.6rem;
  background-color: rgb(230, 162, 246);
  width: 0%;
}

/* LOADER */

#loader {
  border: 1rem solid white;
  border-radius: 50%;
  border-top: 1rem solid rgb(230, 162, 246);
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
